# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=3a8d505e-507f-4be6-bdf3-19d660077fcb

    # Set to true to disable all reporting
    B:opt-out=false
}


